<div id="terms" style="margin-top:5px;font-size:14px;">	
	<div style="width:800px; background-color:#FFFFFF; margin:0px auto;padding:5px;">
		<h1 style="margin:0;">Nutzungsbedingungen: {overall_title}</h1>
		<br />
		<div style="margin-bottom:10px;">(1) Die Registrierung und Nutzung des Chats sind und bleiben kostenlos.</div>
		<div style="margin-bottom:10px;">(2) Ein Recht auf eine Registrierung besteht jedoch nicht.</div>
		<div style="margin-bottom:10px;">(3) Der Chatbetreiber hält sich das Recht vor, bestimmte Benutzer ohne Angabe von Gründen, vorübergehend oder dauerhaft auszuschließen.</div>
		<div style="margin-bottom:10px;">(4) Der Benutzer ist verpflichtet, sich an die <a href="http://www.chatiquette.de" target="_blank">Chatiquette</a> und übliche Höflichkeitsregeln zu halten.</div>
		<div style="margin-bottom:10px;">(5) Einträge mit pornographischen, sexuellen, rassistischen, gewaltverherrlichenden Inhalten oder Inhalte, die Personen und Personengruppen beleidigen oder diskriminieren sind gesetzeswidrig und dürfen nicht veröffentlicht werden. Diese Einträge dürfen ebenfalls keine Links zu Seiten mit oben genannten Inhalten enthalten. Einträge, die gegen diese Nutzungsbedingungen verstoßen, führen automatisch zur Schließung des Kontos. In diesem Zusammenhang erklären Sie sich bereit, dass Ihre <a href="http://de.wikipedia.org/wiki/IP-Adresse" target="_blank">IP-Adresse</a> zur Entlastung des Chatbetreibers gespeichert wird. Das geschieht automatisch.</div>
		<div style="margin-bottom:10px;">(6) Der Missbrauch des Chats als Werbeplattform ist nicht erlaubt. Die Nennung von Herstellern, Produkten, Dienstleistern und Websites ist zulässig, wenn sie nicht dem reinen Werbezweck dienen. Einträge, die ausschließlich Werbezwecken dienen, führen automatisch zur Schließung des Kontos.</div>
		<div style="margin-bottom:10px;">(7) Es kann nicht garantiert werden, dass der Chat permanent verfügbar ist. Der Service kann ohne Vorwarnung beendet werden.</div>
		<div><input type="button" value="{@schließen}" onclick="top.close();" /></div>
	</div>
</div>