<table class="whois-table">
	<tr>
		<td colspan="5" class="whois-top" style="text-align:center;"><b>{@Benutzerliste} - {@Gesamt}</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>{@Nickname}</b></td>
		<td class="whois-td0"><b>{@Registriert seit}</b></td>
		<td class="whois-td0"><b>{@Geschriebene Zeichen}</b></td>
		<td class="whois-td0"><b>{@Rang}</b></td>
		<td class="whois-td0"><b>{@Status}</b></td>
	</tr>
	
	{member_list}
</table>

<p style="text-align:center;"><input type="button" value="{@schließen}" onclick="javascript:top.close();" /></p>