<table class="whois-table" style="font-size:11px;">	
	<tr>
		<td class="whois-top" colspan="2" style="text-align:center;font-size:12px;"><b>{@Whois Abfrage für} "{username}"</b></td>
	</tr>
	
	<tr>
		<td class="whois-td0" style="width:150px;"><b>{@Nickname}:</b></td>
		<td class="whois-td0">{gender_icon} {username}</td>
	</tr>
	
	<tr>
		<td class="whois-td1"><b>{@Registriert seit}:</b></td>
		<td class="whois-td1">{reg_date}</td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>{@Echter Name}:</b></td>
		<td class="whois-td0">{myName}</td>
	</tr>
	
	<tr>
		<td class="whois-td1"><b>{@Wohnort}:</b></td>
		<td class="whois-td1">{myCity}</td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>{@Alter}:</b></td>
		<td class="whois-td0">{myAge}</td>
	</tr>
	
	<tr>
		<td class="whois-td1"><b>{@Über mich}:</b></td>
		<td class="whois-td1"><div style="max-height:160px;overflow:auto;">{aboutMe}</div></td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>{@Geschriebene Zeichen}:</b></td>
		<td class="whois-td0">{charcount}</td>
	</tr>
	
	<tr>
		<td class="whois-td1"><b>{@Chatzeit}:</b></td>
		<td class="whois-td1">{chat_time}</td>
	</tr>
	
	<tr>
		<td class="whois-td0"><b>{@Rang}:</b></td>
		<td class="whois-td0">{rang}</td>
	</tr>
	
	<tr>
		<td class="whois-td1"><b>{@Status}:</b></td>
		<td class="whois-td1">{status}</td>
	</tr>	
	{away_msg}
</table>

<p style="text-align:center;"><input type="button" value="{@schließen}" onclick="top.close();" /></p>