@CHARSET "UTF-8";

/****************
* Overall Content
*****************/

html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #DEDEDE;
	color: #111111;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

table {
	border-collapse: collapse;
	border-color: #525252;
}

th {
	background-color: #CECECE;
	background-image: url('../img/thbg28.png');
	background-repeat: repeat-x;
	color: #8F0000;
	height: 25px;
	border: 1px solid #C0C0C0;
}

h1 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
	margin: 0;
}

h4 {
	font-size: 14px;
	margin: 0;
	margin-bottom: 10px;
}

a:link, a:visited {
	color: #8F0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline
}

img {
	border: 0;
	padding: 0;
	margin: 0;	
}

input, select, textarea {
	border: 1px solid #B3ABB2;
	padding: 1px;
	margin: 1px;
	background-color: #FFFFFF;
}

select {
	min-width: 150px;
}

input:focus, select:focus, textarea:focus {
	background-color: #EFEFEF;
	border: 1px solid #8F0000;
	outline: none; 
}

input[disabled] {
	border: 1px solid #B3ABB2;
	background-color: #FFD3D3;
}

input#text[disabled]{
	border: 1px solid #B3ABB2;
	background-color: #EFEFEF;
}

input[type="button"], input[type="submit"] {
	padding: 2px 5px 2px 5px;
	margin: 0px;
	cursor: pointer;
	background-image: url('../img/footerbg.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	min-width: 100px;
}

input[type="checkbox"], input[type="radio"]{
	border: 0;
	background-color: transparent;
}

/* Remove input padding in FF */
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

form {
	padding: 0;
	margin: 0;
}


/****************
* Chat-Index
*****************/

td#login-form {
	background-color: #FFFFFF;
	padding: 5px;
	vertical-align: top;
	border-collapse: separate;
}

td#news-display {
	background-color: #FFFFFF;
	width: 600px;
	padding: 10px;
	text-align: justify;
	vertical-align: top;
}

td#channel-list {
	background-color: #FFFFFF;
	width: 250px;
	padding: 10px;
	vertical-align: top;
}

div#index, div#register, div#reminder {
	min-width: 600px;
}

td#index-foot {
	background-color: #FFFFFF;
	padding: 2px;
	font-size: 11px;
	width: 878px;
	text-align: center;
	vertical-align: top;
}

div#chat_loading {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center; 
	display: none;
}

td.td0 {
	padding: 5px;
	background-color: #F7F7F7;
	border: 1px solid #C0C0C0;
}

td.td1 {
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}



/****************
* Chat design
*****************/

/* chat frame */
div#chat {
	min-width: 800px;
	width: 100%;
	height: 100%;
	overflow: auto;
}


div#foot {
	font-size: 8pt;
	color: #003080;
	text-align: center;
	border: 1px solid #C0C0C0;
	width: 170px;
	margin: auto;
	margin-top: 50px;
	padding: 2px;
}


/***************
 * right panel *
 *************** 

/* chat right layer design */
div#rightLayer {
	width: 250px;
	height: 100%;
	float: right;
	padding: 0px;
	margin-left: 10px;
	border: 0px solid #525252;
}

/* chat online channel layer */
div#online-channel {
	text-align: center;	
	background-image: url('../img/thbg28.png');
	background-repeat: repeat-x;
	font-size: 14px;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #DDDDDD
}
/* online chatter list */
div#online {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #C0C0C0;
}
span#online-users {
	font-size: 10px;
}
div.online-userlist0 {
	background-color: #F7F7F7;
	padding: 5px;	
}
div.online-userlist1 {
	background-color: #FFFFFF;
	padding: 5px;
}



/**************
 * left panel *
 **************

/* channel list design */
div#channel {
	margin-bottom: 1px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	padding: 5px;	
	overflow: hidden;
}

/* chat welcome layer */
div#chat_welcome {
	background-color: #EFEFEF;
	border: 1px solid #C0C0C0;
	overflow: hidden;
	padding: 5px;
	margin: 0px;
}

/* chat content design */
div#chat_content {
	min-height: 100px;
 	height: 60%;
 	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #C0C0C0;
	border-top: 0px;
	padding: 5px;
	margin: 0px;
	background-color: #DFDFCF;
	font-size: 12px;
}

/* chat message post design */
div#post {
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px solid #C0C0C0;
	overflow: hidden;
	border-top: 0px;
 	/* min-height: 60px; */
}

/* text style */
div.text0 {
	background-color: #F7F7F7;
	padding: 3px;
	line-height: 12px;
}
div.text1 {
	background-color: #FFFFFF;
	padding: 3px;
	line-height: 12px;
}
span.content-time {
	font-size: 10px;
}


/****************
* WHOIS
*****************/

table.whois-table {
	width: 580px;
	margin: 0px auto;
}

td.whois-top {
	background-image: url('../img/thbg28.png');
	background-repeat: repeat-x;
	border: 1px solid #C0C0C0;
	height: 25px;
	padding-left: 4px;
}

td.whois-td0 {
	background-color: #F7F7F7;
	border: 1px solid #C0C0C0;
	padding: 5px;
}

td.whois-td1 {
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	padding: 5px;
}


/****************
* Smiley-Frame
*****************/

div#smileys {
	display: none;
	max-width: 60%;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
	margin: auto;
	position: absolute;
	z-index: 2;
	top: 80px;
	left: 5px;
}

div#smiley-top {
	background-color: #CCCCCC;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}

div#smiley-content {
	text-align: left;
	padding: 1px 5px 1px 5px;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}


/****************
* Administration
*****************/

td.admin_menu-top {
	background-color: #CDCDCD;
	border: 1px solid #C0C0C0;
	height: 25px;
	width: 550px;
	text-align: left;
}

th.admin_th {
	background-image: none;
	background-color: #424242;
	color: #FFFFFF;
	padding-left: 4px;
	text-align: left;
}

td.admin_menu {
	text-align: center;
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}
td.admin_menu:hover {
	background-color: #EFEFEF;
}

td.admin_td0 {
	padding: 5px;
	background-color: #F7F7F7;
	border: 1px solid #C0C0C0;
}

td.admin_td1 {
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}

td.admin_footer {
	text-align: center;
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #C0C0C0;
}



/*************************
 * JavaScript Test
*************************/

#window-javascript {
	border: 5px solid #525252;
	position: absolute;
	top: 140px;
	left: 25%;
	width: 50%;
	z-index: 2;
	background-color: #FFAAB0;
	padding: 20px;
}